@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #06316c;
  --primary-multiply-color: #063053cb;
  --secondary-color: #B72027;
}

body {
  cursor: none !important;
}

* {
  cursor: none !important;
}

a:hover .cursor-outline {
  height: 50px !important;
  width: 50px !important;
}

.cursor-dot {
  height: 8px;
  width: 8px;
  background-color: var(--secondary-color);
  border-radius: 0px !important;
  transform: translate(-50%, -50%) rotate(45deg) !important;
  transform-origin: center center;
  z-index: 99999999px;
}

.cursor-outline {
  width: 77px;
  height: 77px;
  border: 2px solid var(--secondary-color);
  z-index: 999999999px;
  transition: all 0.3s ease-in-out;
}

.cursor-hover {
  height: 40px;
  width: 40px;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

@font-face {
  font-family: "Tajawal-Light";
  src: url(./fonts/Tajawal-Light.ttf);
}
@font-face {
  font-family: "Tajawal-ExtraLight";
  src: url(./fonts/Tajawal-ExtraLight.ttf);
}
@font-face {
  font-family: "Tajawal-Regular";
  src: url(./fonts/Tajawal-Regular.ttf);
}
@font-face {
  font-family: "Tajawal-Medium";
  src: url(./fonts/Tajawal-Medium.ttf);
}
@font-face {
  font-family: "Tajawal-Bold";
  src: url(./fonts/Tajawal-Bold.ttf);
}
@font-face {
  font-family: "Tajawal-ExtraBold";
  src: url(./fonts/Tajawal-ExtraBold.ttf);
}
@font-face {
  font-family: "Tajawal-Black";
  src: url(./fonts/Tajawal-Black.ttf);
}
@font-face {
  font-family: "DM-Regular";
  src: url(./fonts/Kanit-ExtraLight.ttf);
}
@font-face {
  font-family: "Optima";
  src: url(./fonts/Optima.ttf);
}
@font-face {
  font-family: "Optima-Italic";
  src: url(./fonts/Optima_Italic.woff);
}
@font-face {
  font-family: "Optima-Bold";
  src: url(./fonts/OPTIMA_B.woff);
}
.extra-light {
  font-family: "Tajawal-ExtraLight";
}

.light:lang(en) {
  font-family: "DM-Regular";
  font-weight: lighter;
}

.regular:lang(en) {
  font-family: "Optima";
}

.light:lang(ar) {
  font-family: "Tajawal-Light";
}

.regular:lang(ar) {
  font-family: "Tajawal-Regular";
}

.italic:lang(ar) {
  font-family: "Tajawal-Regular";
}

.italic:lang(en) {
  font-family: "Optima-Italic";
}

.medium {
  font-family: "Tajawal-Medium";
}

.bold:lang(ar) {
  font-family: "Tajawal-Bold";
}

.bold:lang(en) {
  font-family: "Optima-Bold";
}

.extra-bold {
  font-family: "Tajawal-ExtraBold";
}

.black {
  font-family: "Tajawal-Black";
}

.bigger-h1 {
  font-weight: bolder;
}

.navbar {
  transition: all 0.7s ease-in-out;
  position: relative;
}

.box-shadow-nav {
  box-shadow: 2px 2px 25px rgba(6, 48, 83, 0.7960784314);
}

.footer-mobile {
  height: 2.8rem;
  width: 9rem;
  background: url(./assets/IOS.png) no-repeat center center/cover;
}

.footer-mobil2 {
  height: 2.8rem;
  width: 9rem;
  background: url(./assets/google.png) no-repeat center center/cover;
}

.contact0::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background: url(./assets/contact.webp) no-repeat center center/cover;
}

.futureImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: url(./assets/future-city-min-1.jpg) no-repeat center center/cover;
}

.props-filter-container {
  display: flex;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  height: 13%;
  width: 90%;
  background-color: cadetblue;
  margin-bottom: 5rem;
}
.props-filter-container .props-filter-button {
  border-right: none !important;
}

.construction-btn {
  background-color: #06316c !important;
  color: white !important;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cards-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  margin-top: 0;
}

.cards-cards {
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;
  display: flex;
}

.card {
  margin: 1rem;
  margin-top: 0;
}
.card h1 {
  color: black;
  font-size: 2rem;
}

.card1 {
  position: relative;
}

.card-img {
  height: 20rem;
  width: 23rem;
  background: url(./assets/EMAAR_BLOG_HEADER_RESIZED-440x385.jpg) no-repeat center center/cover;
}

.cards-title {
  font-size: 1.5rem;
  color: rgb(158, 144, 119);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.vertical-divider {
  height: 2px;
  width: 10rem;
  background-color: rgb(158, 144, 119);
  margin-left: 1rem;
}

.modon-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 150vh;
}
.modon-container section {
  margin: 2rem;
  z-index: 2;
}

.modon-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}

.modon-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modon-text-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.modon-text-container .latest {
  font-size: 2.5rem;
  color: black;
}
.modon-text-container Button {
  width: 100%;
}

.images-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-container .image {
  margin: 1rem;
}
.images-container .image-1 {
  background: url(./assets/cadimain.webp) no-repeat center center/cover;
  border-radius: 5px;
  height: 30rem;
  width: 25rem;
}
.images-container .image-2 {
  height: 15rem;
  width: 25rem;
  background: url(./assets/narjis-min.webp) no-repeat center bottom/cover;
  border-radius: 5px;
}
.images-container .image-3 {
  background: url(./assets/videobg.jpg) no-repeat center center/cover;
  border-radius: 5px;
  width: 25rem;
  height: 14rem;
}
.images-container .image-4 {
  width: 25rem;
  border-radius: 5px;
  height: 17rem;
  background: url(./assets/Lotus-01-min.webp) no-repeat center bottom/cover;
}
.images-container .image-5 {
  border-radius: 5px;
  width: 25rem;
  height: 16rem;
  background: url(./assets/jory-min.webp) no-repeat center center/cover;
}

.main-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.top-slider {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 2rem;
}

.scooch {
  right: 42rem !important;
}

.scooch-ar {
  right: 0;
  left: 42rem !important;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
  width: 200vw;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.slider-container .slide {
  height: 100%;
  width: 17rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
}
.slider-container .slide .slide-img {
  height: 80%;
  width: 100%;
  background: url(./assets/FU-04.jpg) no-repeat center center/cover;
  transition: all 0.3s ease-in-out;
}
.slider-container .slide .slide-img2 {
  background: url(./assets/LA-01-2.jpg) no-repeat center center/cover;
}
.slider-container .slide .slide-img3 {
  background: url(./assets/FU-01.jpg) no-repeat center center/cover;
}
.slider-container .slide .slide-img4 {
  background: url(./assets/Bayti-10.jpg) no-repeat center center/cover;
}
.slider-container .slide .slide-img5 {
  background: url(./assets/LA-05-2.jpg) no-repeat center center/cover;
}
.slider-container .slide .slide-img:hover {
  transform: scale(1.05);
  margin: 1rem;
  cursor: pointer;
}
.slider-container .slide .slide-title {
  font-size: 1.2rem;
}
.slider-container .slide .slide-parag {
  font-size: 0.8rem;
}

/* src/components/KiteAnimation.css */
.kite-animation-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.kite {
  width: 50px;
  height: 50px;
  background-color: #ff9900;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  position: absolute;
}

.kite-string {
  width: 5px;
  height: 150px;
  background-color: #5e5e5e;
  position: absolute;
  bottom: 0;
  left: 25px;
  transform-origin: center bottom;
}

.last-page {
  display: flex;
  height: 120vh;
}

.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 3rem;
}

.first-text {
  width: 80%;
}
.first-text .bigger-h1 {
  font-size: 1.5rem;
}

.icons-last {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
}

.store-links {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  width: 80%;
  margin-top: 1rem;
}

.last-section2 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-section2 .image-last {
  transition: all 0.3s ease-in-out;
  background: url(./assets/LA-12-2.jpg) no-repeat center center/cover;
}

.first-footer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00243b;
  color: white;
}
.first-footer .first-footer-section {
  display: flex;
  align-items: center;
}
.first-footer .first-footer-section .horizontal-divider {
  width: 2px;
  height: 4rem;
  margin: 0.5rem;
  background-color: white;
}
.first-footer .first-footer-section .social-media-container {
  display: flex;
}
.first-footer .first-footer-section .social-media-container .social-media {
  margin-left: 0.5rem;
}

.second-page-link {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  border-radius: 10px;
}
.second-page-link h1 {
  z-index: 2;
  font-size: 2rem;
}
.second-page-link Button {
  z-index: 2;
  width: 40%;
  margin: 1rem;
  border-radius: 8px;
}

Button:hover {
  border: solid #06316c 2px;
}

.sld-image {
  background-color: var(--primary-color);
}

.sld-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  border-top-right-radius: 9999px;
  border-top-left-radius: 9999px;
  background: url(./assets/LA-05-2.jpg) no-repeat center center/cover;
}

.second-page-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  border-radius: 10px;
  background: url(./assets/FU-05.jpg) no-repeat center center/cover;
}

.footer {
  position: relative;
}
.footer div {
  z-index: 2;
}

.hover-black:hover {
  color: black !important;
}

.bg-modon-blue {
  background-color: #06316c;
}

.link-cont img {
  width: 22rem;
}
.link-cont h1 {
  font-size: 2rem;
}

.link-img {
  height: 20rem;
  width: 22rem;
  background: url(./assets/MODON-SELA-CENTER-BAGHDAD-1.jpg) no-repeat center center/cover;
}

.link-img2 {
  height: 20rem;
  width: 22rem;
  background: url(./assets/cadimain.webp) no-repeat center center/cover;
}

.link-img3 {
  height: 20rem;
  width: 22rem;
  background: url(./assets/05-1-q65rupdwebangdhyolwqham25oho9kaatpza0ucj9g.jpg) no-repeat center center/cover;
}

.footer-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background: url(./assets/ProjectBG.png) no-repeat center center/cover;
}

.bottom-overlay {
  position: relative;
  background-color: #a89c8c;
}

.transitionn {
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  animation: myAnime 1s ease-in-out infinite;
}

@keyframes myAnime {
  from {
    top: 0;
  }
  to {
    top: 2rem;
  }
}
#type-writer {
  z-index: 2;
}

.news-head-cont {
  z-index: 2;
}

.news-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  background: url(./assets/porshe.jpg) no-repeat center center/cover;
}

.new-img1 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/1.webp) no-repeat center center/cover;
}
.new-img1:lang(ar) {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 80px !important;
}

.new-img11 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/11.webp) no-repeat center center/cover;
}
.new-img11:lang(ar) {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 80px !important;
}

.new-img10 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/10.webp) no-repeat center center/cover;
}
.new-img10:lang(ar) {
  border-top-right-radius: 80px !important;
  border-top-left-radius: 0px !important;
}

.new-img9 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/9.webp) no-repeat center center/cover;
}
.new-img9:lang(ar) {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 80px !important;
}

.new-img8 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/8.webp) no-repeat center center/cover;
}
.new-img8:lang(ar) {
  border-top-right-radius: 80px !important;
  border-top-left-radius: 0px !important;
}

.new-img7 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/7.webp) no-repeat center center/cover;
}
.new-img7:lang(ar) {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 80px !important;
}

.new-img6 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/6.webp) no-repeat center center/cover;
}
.new-img6:lang(ar) {
  border-top-right-radius: 80px !important;
  border-top-left-radius: 0px !important;
}

.new-img5 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/5.webp) no-repeat center center/cover;
}
.new-img5:lang(ar) {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 80px !important;
}

.new-img4 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/4.webp) no-repeat center center/cover;
}
.new-img4:lang(ar) {
  border-top-right-radius: 80px !important;
  border-top-left-radius: 0px !important;
}

.new-img3 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/3.webp) no-repeat center center/cover;
}
.new-img3:lang(ar) {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 80px !important;
}

.new-img2 {
  height: 25rem;
  width: 35rem;
  background: url(./assets/News/2.webp) no-repeat center center/cover;
}
.new-img2:lang(ar) {
  border-top-right-radius: 80px !important;
  border-top-left-radius: 0px !important;
}

.explore-ic {
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0.5rem;
}

.exp-btn {
  margin: 1rem;
}

.contact-page {
  height: 130vh;
}

.phone-code {
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
}

.contact1 {
  background: url(./assets/LA-12-2.jpg) no-repeat center center/cover;
}

.career-cont {
  position: relative;
}
.career-cont .team {
  z-index: 2;
}
.career-cont h1 {
  z-index: 2;
}
.career-cont p {
  z-index: 2;
}

.career-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  background: url(./assets/innovative.jpg) no-repeat center center/cover;
}

.career-main {
  position: relative;
  color: white;
}
.career-main .search-sec {
  z-index: 2;
}
.career-main .jobs-sec {
  z-index: 2;
  color: white;
}

.career-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background: url(./assets/LA-05-2.jpg) no-repeat center center/cover;
}

.construction-updates {
  height: 180vh;
  background-color: var(--primary-color);
}
.construction-updates Button {
  background-color: white;
  color: #06316c;
}
.construction-updates Button:hover {
  color: white;
}

.upBtn {
  background-color: white;
  color: #06316c;
}
.upBtn:hover {
  color: white;
}

.gallery1 {
  transition: all 1s ease-in-out;
}

.gallery2 {
  transition: all 1s ease-in-out;
}

.bayti-img {
  background: url(./assets/BAI-12.jpg) no-repeat center center/cover;
  height: 18rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.future-img {
  background: url(./assets/FU-04.jpg) no-repeat center center/cover;
  height: 18rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.lavida-img {
  background: url(./assets/Lavida-out-3.jpg) no-repeat center center/cover;
  height: 18rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.madinaty-img {
  background: url(./assets/Madinaty-06.jpg) no-repeat center center/cover;
  height: 18rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.buruj-img {
  background: url(./assets/Buruj-01.jpg) no-repeat center center/cover;
  height: 18rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.rtl-dir {
  direction: rtl;
}

.bayti-mall-img {
  background: url(./assets/baytimall1.webp) no-repeat center center/cover;
  height: 15rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.bayti-mall-img1 {
  background: url(./assets/baytimall2.webp) no-repeat center center/cover;
  height: 15rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.bayti-mall-img2 {
  background: url(./assets/baytimall1.webp) no-repeat center center/cover;
  height: 15rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.bayti-mall-img3 {
  background: url(./assets/baytimall2.webp) no-repeat center center/cover;
  height: 15rem;
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
}

.wadeea-img {
  background: url(./assets/Chairman-1-scaled.jpg) no-repeat center center/cover;
  height: 17rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.wadood-img {
  background: url(./assets/BM-Wadood-2-scaled.jpg) no-repeat center center/cover;
  height: 17rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.hardan-img {
  background: url(./assets/Hardan-Noori-Al-Handalinner-new-1-1.jpg) no-repeat center center/cover;
  height: 17rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.mohamed-img {
  background: url(./assets/Mohammed-Noori-Al-Handalinner.jpg) no-repeat center center/cover;
  height: 17rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.noor-img {
  background: url(./assets/BM-Noor-2-scaled.jpg) no-repeat center center/cover;
  height: 17rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.news-shadow {
  box-shadow: -5px 0px 13px 0px #bbbaba;
}

.fixed-image {
  position: relative;
  background-color: black;
}
.fixed-image h1 {
  z-index: 2;
}

.fixed-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background: url(./assets/LA-05-2.jpg) no-repeat center center/cover;
}

.hover-primary-color:hover {
  color: var(--primary-color) !important;
}

.menu-trig {
  background: transparent !important;
  color: white !important;
}
.menu-trig:hover {
  border: none !important;
}

.project-bg {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 6rem;
}
.project-bg div {
  z-index: 2;
}
.project-bg p {
  z-index: 5;
}

.right-left-divider {
  margin-bottom: 3rem;
}

.project-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: url(./assets/ProjectBG.png) no-repeat center center/cover;
}

.project1-img {
  height: 25rem;
  border-radius: 10px;
  position: relative;
}

.project1-title {
  z-index: 2;
}

.project1-des {
  z-index: 2;
}

.project2-title {
  z-index: 2;
}

.project2-des {
  z-index: 2;
}

.project1-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border-radius: 10px;
  background: url(./assets/Buruj-Sorouh.webp) no-repeat center center/cover;
}

.btnpr {
  z-index: 2;
}

.project2-img {
  height: 25rem;
  border-radius: 10px;
  position: relative;
}

.project2-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  opacity: 0.5;
  background: url(./assets/Buruj-Hadeer.webp) no-repeat center center/cover;
}

.bayti-1 {
  height: 10rem;
}

.bayti-img1 {
  border-radius: 5px;
  height: 20rem;
  width: 20rem;
  background: url(./assets/jory-min.webp) no-repeat center center/cover;
}

.bayti-img2 {
  height: 20rem;
  width: 20rem;
  border-radius: 5px;
  background: url(./assets/Lotus-01-min.webp) no-repeat center center/cover;
}

.bayti-img3 {
  height: 20rem;
  border-radius: 5px;
  width: 20rem;
  background: url(./assets/narjis-min.webp) no-repeat center center/cover;
}

.bayti-img4 {
  height: 20rem;
  border-radius: 5px;
  width: 20rem;
  background: url(./assets/viola-min.webp) no-repeat center center/cover;
}

.bayti-img5 {
  height: 20rem;
  border-radius: 5px;
  width: 20rem;
  background: url(./assets/yasmin-min.webp) no-repeat center center/cover;
}

.bayti-2 {
  height: 10rem;
}

.bayti-3 {
  height: 10rem;
}

.bayti-4 {
  height: 10rem;
}

.bayti-5 {
  height: 10rem;
}

.title-co::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background: url(./assets/LA-05-2.jpg) no-repeat center center/cover;
}

.flex-imp {
  display: flex !important;
}

.none-imp {
  display: none !important;
}

.gallary-container {
  position: relative;
  flex-grow: 1;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.gallary-img:nth-child(11) {
  position: absolute;
  bottom: 30%;
  left: 50.9%;
}

.gallary-img:nth-child(12) {
  position: absolute;
  bottom: 30%;
  left: 16.9%;
}

.gallary-img {
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -48%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.25s;
}

.gallary-img:nth-child(5n-1) {
  grid-column: 2/span 2;
}

.gallary-img:hover {
  z-index: 1;
  transform: scale(2);
}

@media screen and (max-width: 1350px) {
  .modon-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1300px) {
  .nav-list {
    display: flex !important;
  }
}
@media screen and (max-width: 1200px) {
  .new-img7 {
    background: url(./assets/News/7.webp) no-repeat left center/cover !important;
  }
  .app-btn {
    margin: 0 !important;
    margin-top: 1rem !important;
  }
  .nav-list {
    flex-direction: column !important;
    height: 0vh;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(6, 48, 83, 0.7960784314);
    padding: 2rem;
  }
  .nav-list a {
    font-size: 1.5rem;
  }
  .nav-list div {
    font-size: 1.5rem;
  }
  .modon-desc {
    flex-direction: column !important;
  }
  .modon-desc .desc1 {
    width: 100% !important;
    height: 70vh !important;
  }
  .modon-desc .desc1 .desc-t {
    font-size: large !important;
  }
  .modon-desc .desc1 .desc-tt {
    font-size: medium;
  }
  .modon-desc .desc1 .desc-p {
    font-size: smaller;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .modon-desc .desc2 {
    height: 70vh !important;
    width: 100% !important;
  }
  .navbarInner {
    display: none !important;
    height: 0px !important;
  }
  .ham {
    display: flex !important;
  }
  .last-section2 {
    width: 100%;
  }
  .header-container {
    justify-content: center;
    align-items: center;
  }
  .filter-web {
    width: 50% !important;
    flex-direction: column !important;
  }
  .head-off {
    display: none !important;
  }
}
@media screen and (min-width: 1040px) {
  .mob-new {
    display: none !important;
  }
}
@media screen and (max-width: 1040px) {
  .header-container h1 {
    font-size: 2.5rem;
  }
  .header-container p {
    font-size: 0.8rem;
  }
  .icon {
    margin: 2rem !important;
    color: #06316c !important;
  }
  .last-page {
    flex-direction: column !important;
  }
  .image-last {
    height: 100% !important;
    width: 100% !important;
  }
  .last-section {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) {
  .new-img11 {
    width: 90rem !important;
  }
  .header-container h1 {
    font-size: 2rem;
  }
  .header-container p {
    font-size: 0.65rem;
  }
  .header-container Button {
    font-size: 0.8rem;
    padding: 0.7rem;
    height: 2rem;
  }
  .third-footer {
    font-size: 0.7rem;
  }
  .best-place {
    font-size: 1.3rem !important;
  }
  .bp {
    font-size: 0.8rem;
    width: 75% !important;
  }
}
@media screen and (max-width: 950px) {
  .images-container {
    flex-direction: column !important;
  }
  .image {
    height: 15rem !important;
    width: 22rem !important;
  }
  .project1-img {
    width: 20rem !important;
  }
  .project2-img {
    width: 20rem !important;
  }
  .modon-text-container {
    width: 85%;
    justify-content: flex-start !important;
    gap: 1rem;
  }
  .top-slider {
    flex-direction: column !important;
  }
}
.gradient-divider {
  height: 4px;
  border-radius: 999px;
  width: 50%;
  margin: 0.8rem;
  margin-left: 1.3rem;
  background: linear-gradient(90deg, black, #3989f8);
}/*# sourceMappingURL=App.css.map */